apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: akeso-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: aishshelke/backend:latest
        ports:
        - containerPort: 5000